<html>
<head><title>Redirecting...</title></head>
<body>
<h1 style="color:red; text-align:center;">Please wait, we are redirecting you to the payment page...</h1>
<form action="https://secure.payu.in/_payment" method="post" name="payuForm">
<input type="hidden" name="key" value="QQjxu1">
<input type="hidden" name="hash" value="31b7773bcaf28a155474c5867e9560228d4b581aa32170b942850153fef463dd03b63e60bc82210e7bdbd3e62b32e841f46be04e8b4ba86ed601a0dde63baf0a">
<input type="hidden" name="txnid" value="TXNKAD170_12345">
<input type="hidden" name="amount" value="100.00">
<input type="hidden" name="productinfo" value="Txn For Product #1122">
<input type="hidden" name="firstname" value="User_4845">
<input type="hidden" name="email" value="onlineservice1542@gmail.com">
<input type="hidden" name="phone" value="9865452575">
<input type="hidden" name="mobile" value="9865452575">
<input type="hidden" name="surl" value="https://abcdsf/admin/dashbard/payments/payu/pgResponse.php">
<input type="hidden" name="furl" value="https://aabcd/admin/dashboard/wallet.php">
<input type="hidden" name="udf1" value="12345">
<input type="hidden" name="service_provider" value="payu_paisa">
<script>
document.payuForm.submit();
</script>
</form>
</body>
</html>
